In [66]:
import pandas as pd

In [67]:
sql = (
    '''
    WITH
      enbloc_list AS (
      SELECT
        project_name,
        EXTRACT(YEAR FROM contract_date) AS contract_year,
        1 AS enbloc
      FROM
        `drq-machine-learning.enbloc.enbloc`),
      property AS (
      SELECT
        UPPER(property_name) AS project_name,
        * EXCEPT(property_name)
      FROM
        `drq-machine-learning.enbloc.property_list` )
    SELECT
      property.*,
      enbloc_list.contract_year,
      enbloc_list.enbloc
    FROM
      property
    LEFT JOIN
      enbloc_list
    ON
      property.project_name = enbloc_list.project_name
    '''
)

In [68]:
data = pd.read_gbq(
    sql,
    project_id='413980110872',
    private_key='session2/drq-machine-learning-0a5d30a93870.json',
    dialect='standard',
    verbose=True
)

In [69]:
data.to_csv('enbloc_property.csv', index=False)

In [71]:
data = data[pd.notnull(data['TOP'])]

In [72]:
data['units'] = data['units'].fillna(data['units'].median())

In [73]:
data = data[pd.notnull(data['tenure'])]

In [74]:
data['enbloc'] = data['enbloc'].fillna(0)

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1776 entries, 4 to 1834
Data columns (total 10 columns):
project_name     1776 non-null object
address          1776 non-null object
TOP              1776 non-null object
developer        1776 non-null object
district         1776 non-null object
units            1776 non-null float64
property_type    1776 non-null object
tenure           1776 non-null object
contract_year    17 non-null object
enbloc           1776 non-null int64
dtypes: float64(1), int64(1), object(8)
memory usage: 152.6+ KB

In [76]:
data['contract_year'] = data['contract_year'].fillna(2018)

In [77]:
data

,project_name,address,TOP,developer,district,units,property_type,tenure,contract_year,enbloc
4,PARKSUITES,"28 Holland Grove Road, 278805",1900,N.A.,"D10 - Bukit Timah, Holland Rd, Tanglin",87.0,Apartment,110 years from 01/11/2017,2018,0
5,TEACHERS' HOUSING ESTATE,"1 Tu Fu Avenue, 787209",1968,N.A.,"D26 - Upper Thomson, Springleaf",87.0,Apartment,999 Years,2018,0
6,LAKESIDE APARTMENTS,"9E Yuan Ching Road, 618647",1970,N.A.,D22 - Jurong,87.0,Apartment,99 years from 01/03/1977,2018,0
7,PEOPLE'S PARK COMPLEX,"1 Park Road, 059108",1972,N.A.,"D1 - Temasek Blvd, Raffles Link",87.0,Apartment,99 years from 25/03/1968,2018,0
8,GOLDEN MILE COMPLEX,"5001 Beach Road, 199588",1974,N.A.,"D7 - Middle Road, Golden Mile",87.0,Apartment,99 years from 04/08/1969,2018,0
9,INTERNATIONAL PLAZA,"10 Anson Road, 079903",1976,International Associated Co Pte Ltd,"D2 - Anson, Tanjong Pagar",87.0,Apartment,99 years from 02/06/1970,2018,0
10,FOOK HAI BUILDING,"150 South Bridge Road, 058727",1976,N.A.,"D1 - Temasek Blvd, Raffles Link",87.0,Apartment,99 years from 18/01/1972,2018,0
11,PEOPLE'S PARK CENTRE,"101 Upper Cross Street, 058357",1976,N.A.,"D1 - Temasek Blvd, Raffles Link",87.0,Apartment,99 years from 02/06/1970,2018,0
12,TEXTILE CENTRE,"200 Jalan Sultan, 199018",1977,N.A.,"D7 - Middle Road, Golden Mile",87.0,Apartment,99 years from 02/06/1970,2018,0
13,PEACE CENTRE/MANSIONS,"1 Sophia Road, 228149",1977,KIAN AN REALTY LTD,"D9 - Orchard, Cairnhill, River Valley",42.0,Apartment,99 years from 02/06/1970,2018,0
14,THE PLAZA,"7500 Beach Road, 199590",1979,N.A.,"D7 - Middle Road, Golden Mile",87.0,Apartment,99 years from 03/09/1968,2018,0
15,PHOENIX HEIGHTS,"5 Phoenix Walk, 668109",1980,N.A.,"D23 - Bukit Panjang, Choa Chu Kang",87.0,Apartment,99 years from 01/01/1969,2018,0
16,SHERWOOD TOWERS,"3 Jalan Anak Bukit, 588998",1980,Ocean & Capital Properties Pte Limited,"D21 - Upper Bukit Timah, Ulu Pandan",269.0,Apartment,99 years from 30/08/1976,2018,0
17,LAKESIDE TOWER,"9G Yuan Ching Road, 618649",1981,N.A.,D22 - Jurong,87.0,Apartment,99 years from 01/11/1975,2018,0
18,BEAUTY WORLD PLAZA,"140 Upper Bukit Timah Road, 588176",1982,N.A.,"D21 - Upper Bukit Timah, Ulu Pandan",87.0,Apartment,999 years from 07/06/1884,2018,0
19,BEAUTY WORLD CENTRE,"144 Upper Bukit Timah Road, 588177",1984,N.A.,"D21 - Upper Bukit Timah, Ulu Pandan",80.0,Apartment,99 years from 18/09/1979,2018,0
20,LANDMARK TOWER,"173 Chin Swee Road, 169878",1985,Garden Landmark Pte Ltd (Far East),"D3 - Queenstown, Tiong Bahru",139.0,Apartment,99 years from 16/06/1980,2018,0
21,RIVERWALK APARTMENTS,"20 Upper Circular Road, 058416",1985,Premier Realty Pte Ltd,"D1 - Temasek Blvd, Raffles Link",94.0,Apartment,99 years from 15/12/1980,2018,0
22,THE 101,"74 Ocean Drive, 098313",1986,N.A.,"D4 - Telok Blangah, Harbourfront",87.0,Apartment,999 years from 25/01/1827,2018,0
24,ROXY SQUARE,"50 East Coast Road, 428769",1991,ROXY PACIFIC DEVELOPMENTS PTE LTD,"D15 - Katong, Joo Chiat, Amber Road",111.0,Apartment,9999 years from 02/06/1995,2018,0
25,JANSEN ROAD,"7 JANSEN ROAD, 548389",1992,N.A.,"D19 - Serangoon, Hougang, Punggol",87.0,Apartment,999 Years,2018,0
26,LE LOYANG,"43 Jalan Loyang Besar, 509371",1994,Tai Chuan Development Pte Ltd,"D17 - Loyang, Changi",24.0,Apartment,999 years from 29/05/1885,2018,0
27,ST FRANCIS COURT,"90 St. Francis Road, 328071",1994,Delight Development Pte Ltd,"D12 - Balestier, Toa Payoh, Serangoon",71.0,Apartment,99 years from 08/09/1992,2018,0
28,EAST BAY GARDENS,"87 Lorong G Telok Kurau, 426277",1995,N.A.,"D15 - Katong, Joo Chiat, Amber Road",87.0,Apartment,99 years from 01/01/1995,2018,0
29,MAR THOMA MANSIONS,"28 MAR THOMA ROAD, 328708",1995,N.A.,"D12 - Balestier, Toa Payoh, Serangoon",18.0,Apartment,999 years from 02/06/1882,2012,1
30,HARVEST MANSIONS,"550 Havelock Road, 169638",1996,Springleaf Investment Pte Ltd,"D3 - Queenstown, Tiong Bahru",66.0,Apartment,99 years from 17/11/1993,2018,0
31,THE RIVERSIDE PIAZZA,"11 Keng Cheow Street, 059608",1996,Kingston Development Pte Ltd,"D1 - Temasek Blvd, Raffles Link",40.0,Apartment,99 years from 02/10/1992,2018,0
32,CAVENAGH LODGE,81 Cavenagh Road,1996,N.A.,"D9 - Orchard, Cairnhill, River Valley",87.0,Apartment,LEASEHOLD/99 years,2018,0
33,UE SQUARE,"205 River Valley Road, 238274",1997,United Engineering Ltd,"D9 - Orchard, Cairnhill, River Valley",345.0,Apartment,929 years from 01/01/1953,2018,0
34,ASTON MANSIONS,"3 Lorong 42 Geylang, 398026",1998,South London Properties Pte Ltd (Far East),"D14 - Geylang, Eunos",159.0,Apartment,99 years from 13/02/1995,2018,0
...,...,...,...,...,...,...,...,...,...,...
1805,BLISS@KOVAN,"2A Simon Lane, 546018",2015,BBR Kovan Pte Ltd,"D19 - Serangoon, Hougang, Punggol",140.0,Condominium,Freehold,2018,0
1806,THE SEAWIND,"86G Lorong M Telok Kurau, 423404",2015,Far East Organization,"D15 - Katong, Joo Chiat, Amber Road",109.0,Condominium,Freehold,2018,0
1807,HALLMARK RESIDENCES,"17 Ewe Boon Road, 259325",2015,MCL Land (Prime) Pte Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",75.0,Condominium,Freehold,2018,0
1808,LEEDON RESIDENCE,"6 Leedon Heights, 266215",2015,Leedon Residence Development Pte Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",381.0,Condominium,Freehold,2018,0
1809,ROBIN RESIDENCES,"1 Robin Drive, 258261",2015,Sing Holdings (Robin) Pte Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",134.0,Condominium,Freehold,2018,0
1810,THE NASSIM,"18 Nassim Hill, 258485",2015,N.A.,"D10 - Bukit Timah, Holland Rd, Tanglin",87.0,Condominium,Freehold,2018,0
1811,TROPIKA EAST,"3 Foo Kim Lin Road, 419679",2016,Feature (East) Development Pte Ltd,"D14 - Geylang, Eunos",105.0,Condominium,Freehold,2018,0
1812,VILLAGE @ PASIR PANJANG,"423 Pasir Panjang Road, 118764",2016,Champsworth Development Pte Ltd,"D5 - Pasir Panjang, Clementi",148.0,Condominium,Freehold,2018,0
1813,THE TEMBUSU,"107D Tampines Road, 534006",2016,Winsmart Investment Pte Ltd,"D19 - Serangoon, Hougang, Punggol",337.0,Condominium,Freehold,2018,0
1814,MARINE BLUE,"81 MARINE PARADE ROAD, 449309",2016,Ladyhill (Private) Limited,"D15 - Katong, Joo Chiat, Amber Road",124.0,Condominium,Freehold,2018,0
1815,THE LINE @ TANJONG RHU,"6 Tanjong Rhu Road, 436883",2016,Lakeview Investments Pte Ltd,"D15 - Katong, Joo Chiat, Amber Road",130.0,Condominium,Freehold,2018,0
1816,SEVENTY SAINT PATRICK'S,"70 St. Patricks Road, 424175",2016,UOL Development (St Patrick) Pte Ltd,"D15 - Katong, Joo Chiat, Amber Road",186.0,Condominium,Freehold,2018,0
1817,FULCRUM,"33 Fort Road, 439092",2016,CEL-Fort Pte Ltd,"D15 - Katong, Joo Chiat, Amber Road",128.0,Condominium,Freehold,2018,0
1818,26 NEWTON,"26 Newton Road, 307957",2016,Novelty Corp Pte Ltd,"D11 - Watten Estate, Novena, Thomson",180.0,Condominium,Freehold,2018,0
1819,CLUNY PARK RESIDENCE,"99 Cluny Park Road, 257496",2016,Shelford Properties Pte Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",52.0,Condominium,Freehold,2018,0
1820,GRAMERCY PARK,"57 Grange Road, 249569",2016,Aston Properties Pte Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",174.0,Condominium,Freehold,2018,0
1821,ONE BALMORAL,"1 Balmoral Road, 259784",2016,Hong Leong Holdings Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",87.0,Condominium,Freehold,2007,1
1822,THE CREEK @ BUKIT,"17 Toh Tuck Road, 596155",2017,Chiu Teng @ Bukit Timah Pte. Ltd.,"D21 - Upper Bukit Timah, Ulu Pandan",260.0,Condominium,Freehold,2018,0
1823,6 DERBYSHIRE,"6 Derbyshire Road, 309462",2017,Fantasia (Novena) Pte Ltd,"D11 - Watten Estate, Novena, Thomson",168.0,Condominium,Freehold,2018,0
1824,NEW FUTURA,"14 Leonie Hill Road, 239193",2017,City Developments Limited,"D9 - Orchard, Cairnhill, River Valley",124.0,Condominium,Freehold,2018,0
1825,TRILIVE,"115 Tampines Road, 533901",2018,RH Tampines Pte Ltd,"D19 - Serangoon, Hougang, Punggol",222.0,Condominium,Freehold,2018,0
1826,LANGSTON VILLE,"15 Kim Yam Road, 239328",2000,Guan Qian Realty,"D9 - Orchard, Cairnhill, River Valley",54.0,Apartment,999 years from 01/07/1841,2018,0
1827,ROBERTSON EDGE,"18 Tong Watt Road, 238010",2008,CSA Venture Pte Ltd,"D9 - Orchard, Cairnhill, River Valley",70.0,Apartment,999 years from 01/07/1841,2018,0
1828,WATERFORD RESIDENCE,"21 Kim Yam Road, 239332",2010,Hoi Hup Realty Pte Ltd,"D9 - Orchard, Cairnhill, River Valley",118.0,Apartment,999 years from 01/07/1841,2018,0
1829,ATTITUDE AT KIM YAM,"1 Kim Yam Road, 239319",2011,King & King Development Pte Ltd,"D9 - Orchard, Cairnhill, River Valley",33.0,Apartment,999 years from 01/07/1841,2018,0
1830,VIVACE,"19 Tong Watt Road, 238011",2012,Heritage @ Tong Watt Pte Ltd,"D9 - Orchard, Cairnhill, River Valley",85.0,Apartment,999 years from 01/07/1841,2018,0
1831,RV POINT,"233 River Valley Road, 238291",2015,Galaxy Land Pte Ltd,"D9 - Orchard, Cairnhill, River Valley",36.0,Apartment,999 years from 01/07/1841,2018,0
1832,ASPEN LINQ,"15 Institution Hill, 239669",2016,Optimus Hill Pte Ltd,"D9 - Orchard, Cairnhill, River Valley",18.0,Apartment,999 years from 01/07/1841,2018,0
1833,ASPEN HEIGHTS,"261 River Valley Road, 238307",1998,DBS Realty Pte Ltd,"D9 - Orchard, Cairnhill, River Valley",606.0,Condominium,999 years from 01/07/1841,2018,0
1834,THE WHARF RESIDENCE,"7 Tong Watt Road, 238002",2012,Leonie Court Pte Ltd,"D9 - Orchard, Cairnhill, River Valley",186.0,Condominium,999 years from 01/07/1841,2018,0

In [78]:
data['tenure'].unique()

array(['110 years from 01/11/2017', '999 Years',
       '99 years from 01/03/1977', '99 years from 25/03/1968',
       '99 years from 04/08/1969', '99 years from 02/06/1970',
       '99 years from 18/01/1972', '99 years from 03/09/1968',
       '99 years from 01/01/1969', '99 years from 30/08/1976',
       '99 years from 01/11/1975', '999 years from 07/06/1884',
       '99 years from 18/09/1979', '99 years from 16/06/1980',
       '99 years from 15/12/1980', '999 years from 25/01/1827',
       '9999 years from 02/06/1995', '999 years from 29/05/1885',
       '99 years from 08/09/1992', '99 years from 01/01/1995',
       '999 years from 02/06/1882', '99 years from 17/11/1993',
       '99 years from 02/10/1992', 'LEASEHOLD/99 years',
       '929 years from 01/01/1953', '99 years from 13/02/1995',
       '99 years from 06/11/1995', '99 years from 06/09/1996',
       '99 years from 10/06/1996', '99 years from 01/12/1994',
       '99 years from 01/05/1994', '999 years from 12/10/1885',
       '99 years from 01/03/1995', '99 years from 03/02/1994',
       '947 years from 15/05/1937', '99 years from 24/06/1995',
       '99 years from 24/04/1996', '99 years from 01/10/1995',
       '999 years from 01/09/1876', '99 years from 26/06/1996',
       '99 years from 22/05/1997', '99 years from 19/03/1997',
       '999 years from 02/12/1878', '99 years from 11/08/1997',
       '99 Years from 06/12/1997', '99 years from 30/04/2000',
       '99 years from 06/02/2001', '99 years from 06/10/2000',
       '999 years from 01/01/1886', '999 years from 21/06/1877',
       '999 years from 26/03/1885', '99 years from 02/06/1969',
       '99 years from 12/08/2002', '999 years from 02/10/1876',
       '99 years from 07/01/2002', '946 years from 23/06/1938',
       '99 years from 08/05/2001', '99 years from 29/01/2002',
       '946 years from 27/11/1937', '99 years from 05/03/2004',
       '99 years from 03/01/2006', '999 years from 24/11/1995',
       '99 Years from 21/06/2006', '999 years from 01/06/1885',
       '99 years from 15/09/2005', '99 years from 11/07/2006',
       '99 years from 08/03/2006', '946 years from 01/01/1938',
       '99 years from 21/03/2006', '99 years from 27/01/2006',
       '99 years from 13/03/2006', '99 years from 15/10/2007',
       '99 years from 02/02/2005', '99 years from 28/04/2004',
       '99 years from 14/10/2005', '99 years from 10/08/2010',
       '99 years from 06/05/2008', '999 years from 19/02/1883',
       '9999 years from 01/01/1957', '99 years from 07/12/2009',
       '99 years from 06/01/2010', '99 years from 12/04/2007',
       '99 years from 06/02/2008', '99 years from 13/09/2010',
       '99 years from 13/03/2008', '999 years from 27/12/1875',
       '99 years from 24/05/2010', '999 Years from 02/06/1882',
       '99 years from 27/06/2007', '99 years from 30/04/2013',
       '99 years from 21/11/2011', '99 years from 29/06/2011',
       '99 years from 07/06/2011', '99 years from 07/11/2012',
       '956 years from 27/05/1928', '99 years from 24/01/2013',
       '99 years from 01/08/2011', '60 years from 19/02/2013', 'freehold',
       '99 years from 01/12/1975', '99 years from 25/03/1981',
       '999 years from 06/07/1885', '99 years from 01/10/1983',
       '999 Years from 25/09/1882', '999 Years from 23/03/1885',
       '99 years from 17/08/1979', '101 years from 01/12/1985',
       '99 years from 21/10/1981', '99 years from 01/11/1984',
       '99 years from 01/08/1980', '99 years from 20/08/1982',
       '99 years from 08/03/1982', '99 years from 08/01/1979',
       '99 years from 10/04/1982', '99 years from 06/06/1980',
       '99 years from 08/07/1983', '99 years from 10/11/1981',
       '999 years', '99 Years from 08/03/1982',
       '99 years from 07/04/1975', '99 years from 05/04/1982',
       '999 years from 01/04/1878', '999 years from 05/05/1886',
       '999 years from 25/09/1882', '100 years from 01/02/1986',
       '999 years from 07/09/1885', '99 years from 01/09/1991',
       '99 years from 01/03/1991', '999 years from 10/08/1878',
       '99 years from 15/09/1990', '99 Years from 01/12/1991',
       '99 Years from 01/09/1991', '99 Years from 01/03/1991',
       '99 Years from 23/07/1991', '99 years from 01/06/1990',
       '99 years from 01/05/1993', '99 years from 01/07/1992',
       '99 years from 18/11/1991', '99 Years from 01/09/1992',
       '99 years from 31/05/1993', '99 years from 20/10/1993',
       '99 years from 01/12/1991', '99 years from 01/12/1993',
       '99 years from 21/04/1994', '99 years from 09/03/1994',
       '99 Years from 30/05/1994', '99 years from 01/08/1994', '99 YEARS',
       '999 Years from 21/06/1877', '99 years from 20/06/1995',
       '99 years from 23/06/1995', '99 Years from 13/02/1995',
       '999 years from 19/05/1883', '999 years from 15/08/1884',
       '99 years from 01/11/1995', '99 years from 17/05/1997',
       '99 Years from 24/04/1996', '99 years from 31/01/1997',
       '99 years from 14/11/1996', '99 years from 07/11/1995',
       '99 years from 12/06/1996', '99 Years from 12/06/1996',
       '999 years from 01/10/1827', '99 years from 03/03/1997',
       '99 years from 17/03/1997', '99 Years from 07/11/1995',
       '99 Years from 22/09/1997', '99 years from 16/12/1997',
       '99 Years from 04/12/1996', '99 Years from 12/08/1997',
       '99 Years from 09/10/1996', '99 years from 04/12/1996',
       '99 Years from 12/08/1996', '99 Years from 18/12/1997',
       '99 Years from 17/05/1997', '99 years from 12/08/1996',
       '99 years from 01/12/1997', '99 years from 07/06/1996',
       '99 years from 11/03/1999', '99 years from 18/07/1997',
       '99 years from 25/02/1998', '99 years from 16/02/1998',
       '99 years from 06/12/1997', '99 Years from 18/07/1997',
       '99 years from 02/02/1998', '99 years from 14/12/1996',
       '99 years from 21/03/1996', '99 Years from 16/02/1998',
       '99 years from 02/03/1998', '99 years from 20/03/1998',
       '99 years from 24/04/1999', '99 years from 12/09/2000',
       '99 years from 13/12/2000', '99 Years from 12/09/2000',
       '99 years from 05/05/1997', '99 years from 10/02/2000',
       '99 Years from 09/10/2000', '99 years from 14/08/2000',
       '99 years from 08/04/1993', '99 years from 02/05/2001',
       '99 Years from 22/03/1997', '99 Years from 29/11/2000',
       '99 Years from 20/06/2000', '99 years from 16/08/1999',
       '99 years from 17/08/2001', '99 years from 02/01/2001',
       '99 years from 02/10/2001', '99 years from 21/06/2001',
       '99 years from 04/06/2001', '99 years from 25/07/2001',
       '99 years from 24/10/1997', '99 years from 05/06/2001',
       '99 years from 29/10/2001', '99 years from 02/04/1998',
       '99 Years from 02/10/2001', '99 Years from 16/07/2002',
       '99 years from 23/07/2002', '99 years from 21/01/2002',
       '99 Years from 14/08/2000', '999 years from 21/02/1885',
       '99 years from 03/12/2002', '99 years from 20/06/2000',
       '999 years from 17/09/1885', '99 years from 20/06/2003',
       '99 years from 19/03/2001', '99 years from 18/03/2004',
       '99 years from 20/01/2004', '99 years from 22/01/2003',
       '99 years from 09/09/1999', '99 Years from 22/11/2002',
       '99 Years from 05/01/2004', '99 years from 02/07/2004',
       '99 years from 08/11/2001', '103 years from 28/11/2002',
       '99 years from 13/09/2004', '99 years from 03/05/2004',
       '99 Years from 03/01/2005', '99 years from 26/02/2004',
       '99 years from 01/03/2003', '99 years from 17/02/2006',
       '99 Years from 18/04/2005', '99 years from 11/09/2007',
       '99 years from 07/02/2006', '99 years from 12/03/2007',
       '99 years from 10/08/2005', '99 years from 25/02/2008',
       '99 years from 10/09/2007', '99 years from 07/01/2008',
       '99 years from 17/03/2008', '99 years from 31/10/2007',
       '99 years from 15/03/2006', '99 years from 31/10/2006',
       '99 years from 09/06/2007', '99 years from 03/01/2007',
       '99 years from 31/12/2007', '99 years from 23/10/2006',
       '99 years from 15/07/2008', '99 years from 08/04/2008',
       '99 years from 07/04/2008', '99 years from 22/09/2008',
       '99 years from 09/12/2008', '99 years from 25/08/2008',
       '99 years from 10/03/2008', '99-year Leasehold',
       '99 years from 25/06/2008', '99 years from 08/09/2010',
       '99 years from 26/03/2008', '99 years from 08/03/2007',
       '99 years from 11/02/2009', '99 years from 02/06/2010',
       '99 years from 14/09/2010', '99 years from 27/07/2007',
       '99 years from 23/11/2009', '999 years from 19/06/1885',
       '99 years from 03/08/2010', '99 years from 21/12/2009',
       '99 years from 07/09/2011', '99 years from 20/09/2010',
       '99 years from 30/11/2010', '99 years from 14/06/2010',
       '99 years from 11/12/2007', '99 years from 03/01/2011',
       '99 years from 24/01/2011', '99 years from 16/06/2010',
       '99 years from 10/01/2012', '99 years from 11/08/2010',
       '99 years from 26/11/2009', '99 years from 20/12/2010',
       '99 years from 27/12/2010', '99 years from 04/11/2011',
       '99 years from 23/08/2010', '99 years from 24/08/2010',
       '99 years from 02/03/2011', '99 years from 10/01/2011',
       '103 years from 18/08/2009', '99 years from 20/07/2007',
       '99 years from 08/04/2010', '99 Years Leasehold',
       '99 years from 10/05/2010', '99 years from 06/12/2010',
       '99 years from 25/01/2012', '99 years from 28/07/2010',
       '99 years from 07/02/2011', '99 years from 29/08/2011',
       '99 years from 30/01/2012', '99 years from 08/02/2010',
       '99 years from 20/10/2010', '99 years from 10/08/2011',
       '99 years from 09/01/2012', '99 years from 01/06/2011',
       '99 years from 06/02/2012', '99 years from 04/06/2012',
       '99 years from 05/10/2011', '99 years from 26/08/2011',
       '99 years from 15/06/2011', '99 years from 09/02/2011',
       '99 years from 24/04/2012', '99 years from 09/03/2011',
       '99 years from 28/06/2011', '99 years from 28/08/2012',
       '99 years from 13/02/2013', '99 years from 03/07/2012',
       '99 years from 25/05/2012', '99 years from 21/08/2012',
       '99 years from 13/08/2012', '99 years from 06/03/2012',
       '99 years from 05/11/2012', '99 years from 19/03/2012',
       '99 years from 02/07/2012', '99 years from 05/12/2011',
       '99 years from 03/10/2011', '103 years from 01/10/2010',
       '99 years from 14/05/2012', 'N.A', 'Mixed', '99 Years', 'FREEHOLD',
       'Freehold', '999 years from 01/07/1841'], dtype=object)

In [79]:
data['tenure'] = data['tenure'].apply(lambda x: x.split(' ')[0])

In [80]:
data['district'] = data['district'].apply(lambda x: x.split('-')[0])

In [81]:
data

,project_name,address,TOP,developer,district,units,property_type,tenure,contract_year,enbloc
4,PARKSUITES,"28 Holland Grove Road, 278805",1900,N.A.,D10,87.0,Apartment,110,2018,0
5,TEACHERS' HOUSING ESTATE,"1 Tu Fu Avenue, 787209",1968,N.A.,D26,87.0,Apartment,999,2018,0
6,LAKESIDE APARTMENTS,"9E Yuan Ching Road, 618647",1970,N.A.,D22,87.0,Apartment,99,2018,0
7,PEOPLE'S PARK COMPLEX,"1 Park Road, 059108",1972,N.A.,D1,87.0,Apartment,99,2018,0
8,GOLDEN MILE COMPLEX,"5001 Beach Road, 199588",1974,N.A.,D7,87.0,Apartment,99,2018,0
9,INTERNATIONAL PLAZA,"10 Anson Road, 079903",1976,International Associated Co Pte Ltd,D2,87.0,Apartment,99,2018,0
10,FOOK HAI BUILDING,"150 South Bridge Road, 058727",1976,N.A.,D1,87.0,Apartment,99,2018,0
11,PEOPLE'S PARK CENTRE,"101 Upper Cross Street, 058357",1976,N.A.,D1,87.0,Apartment,99,2018,0
12,TEXTILE CENTRE,"200 Jalan Sultan, 199018",1977,N.A.,D7,87.0,Apartment,99,2018,0
13,PEACE CENTRE/MANSIONS,"1 Sophia Road, 228149",1977,KIAN AN REALTY LTD,D9,42.0,Apartment,99,2018,0
14,THE PLAZA,"7500 Beach Road, 199590",1979,N.A.,D7,87.0,Apartment,99,2018,0
15,PHOENIX HEIGHTS,"5 Phoenix Walk, 668109",1980,N.A.,D23,87.0,Apartment,99,2018,0
16,SHERWOOD TOWERS,"3 Jalan Anak Bukit, 588998",1980,Ocean & Capital Properties Pte Limited,D21,269.0,Apartment,99,2018,0
17,LAKESIDE TOWER,"9G Yuan Ching Road, 618649",1981,N.A.,D22,87.0,Apartment,99,2018,0
18,BEAUTY WORLD PLAZA,"140 Upper Bukit Timah Road, 588176",1982,N.A.,D21,87.0,Apartment,999,2018,0
19,BEAUTY WORLD CENTRE,"144 Upper Bukit Timah Road, 588177",1984,N.A.,D21,80.0,Apartment,99,2018,0
20,LANDMARK TOWER,"173 Chin Swee Road, 169878",1985,Garden Landmark Pte Ltd (Far East),D3,139.0,Apartment,99,2018,0
21,RIVERWALK APARTMENTS,"20 Upper Circular Road, 058416",1985,Premier Realty Pte Ltd,D1,94.0,Apartment,99,2018,0
22,THE 101,"74 Ocean Drive, 098313",1986,N.A.,D4,87.0,Apartment,999,2018,0
24,ROXY SQUARE,"50 East Coast Road, 428769",1991,ROXY PACIFIC DEVELOPMENTS PTE LTD,D15,111.0,Apartment,9999,2018,0
25,JANSEN ROAD,"7 JANSEN ROAD, 548389",1992,N.A.,D19,87.0,Apartment,999,2018,0
26,LE LOYANG,"43 Jalan Loyang Besar, 509371",1994,Tai Chuan Development Pte Ltd,D17,24.0,Apartment,999,2018,0
27,ST FRANCIS COURT,"90 St. Francis Road, 328071",1994,Delight Development Pte Ltd,D12,71.0,Apartment,99,2018,0
28,EAST BAY GARDENS,"87 Lorong G Telok Kurau, 426277",1995,N.A.,D15,87.0,Apartment,99,2018,0
29,MAR THOMA MANSIONS,"28 MAR THOMA ROAD, 328708",1995,N.A.,D12,18.0,Apartment,999,2012,1
30,HARVEST MANSIONS,"550 Havelock Road, 169638",1996,Springleaf Investment Pte Ltd,D3,66.0,Apartment,99,2018,0
31,THE RIVERSIDE PIAZZA,"11 Keng Cheow Street, 059608",1996,Kingston Development Pte Ltd,D1,40.0,Apartment,99,2018,0
32,CAVENAGH LODGE,81 Cavenagh Road,1996,N.A.,D9,87.0,Apartment,LEASEHOLD/99,2018,0
33,UE SQUARE,"205 River Valley Road, 238274",1997,United Engineering Ltd,D9,345.0,Apartment,929,2018,0
34,ASTON MANSIONS,"3 Lorong 42 Geylang, 398026",1998,South London Properties Pte Ltd (Far East),D14,159.0,Apartment,99,2018,0
...,...,...,...,...,...,...,...,...,...,...
1805,BLISS@KOVAN,"2A Simon Lane, 546018",2015,BBR Kovan Pte Ltd,D19,140.0,Condominium,Freehold,2018,0
1806,THE SEAWIND,"86G Lorong M Telok Kurau, 423404",2015,Far East Organization,D15,109.0,Condominium,Freehold,2018,0
1807,HALLMARK RESIDENCES,"17 Ewe Boon Road, 259325",2015,MCL Land (Prime) Pte Ltd,D10,75.0,Condominium,Freehold,2018,0
1808,LEEDON RESIDENCE,"6 Leedon Heights, 266215",2015,Leedon Residence Development Pte Ltd,D10,381.0,Condominium,Freehold,2018,0
1809,ROBIN RESIDENCES,"1 Robin Drive, 258261",2015,Sing Holdings (Robin) Pte Ltd,D10,134.0,Condominium,Freehold,2018,0
1810,THE NASSIM,"18 Nassim Hill, 258485",2015,N.A.,D10,87.0,Condominium,Freehold,2018,0
1811,TROPIKA EAST,"3 Foo Kim Lin Road, 419679",2016,Feature (East) Development Pte Ltd,D14,105.0,Condominium,Freehold,2018,0
1812,VILLAGE @ PASIR PANJANG,"423 Pasir Panjang Road, 118764",2016,Champsworth Development Pte Ltd,D5,148.0,Condominium,Freehold,2018,0
1813,THE TEMBUSU,"107D Tampines Road, 534006",2016,Winsmart Investment Pte Ltd,D19,337.0,Condominium,Freehold,2018,0
1814,MARINE BLUE,"81 MARINE PARADE ROAD, 449309",2016,Ladyhill (Private) Limited,D15,124.0,Condominium,Freehold,2018,0
1815,THE LINE @ TANJONG RHU,"6 Tanjong Rhu Road, 436883",2016,Lakeview Investments Pte Ltd,D15,130.0,Condominium,Freehold,2018,0
1816,SEVENTY SAINT PATRICK'S,"70 St. Patricks Road, 424175",2016,UOL Development (St Patrick) Pte Ltd,D15,186.0,Condominium,Freehold,2018,0
1817,FULCRUM,"33 Fort Road, 439092",2016,CEL-Fort Pte Ltd,D15,128.0,Condominium,Freehold,2018,0
1818,26 NEWTON,"26 Newton Road, 307957",2016,Novelty Corp Pte Ltd,D11,180.0,Condominium,Freehold,2018,0
1819,CLUNY PARK RESIDENCE,"99 Cluny Park Road, 257496",2016,Shelford Properties Pte Ltd,D10,52.0,Condominium,Freehold,2018,0
1820,GRAMERCY PARK,"57 Grange Road, 249569",2016,Aston Properties Pte Ltd,D10,174.0,Condominium,Freehold,2018,0
1821,ONE BALMORAL,"1 Balmoral Road, 259784",2016,Hong Leong Holdings Ltd,D10,87.0,Condominium,Freehold,2007,1
1822,THE CREEK @ BUKIT,"17 Toh Tuck Road, 596155",2017,Chiu Teng @ Bukit Timah Pte. Ltd.,D21,260.0,Condominium,Freehold,2018,0
1823,6 DERBYSHIRE,"6 Derbyshire Road, 309462",2017,Fantasia (Novena) Pte Ltd,D11,168.0,Condominium,Freehold,2018,0
1824,NEW FUTURA,"14 Leonie Hill Road, 239193",2017,City Developments Limited,D9,124.0,Condominium,Freehold,2018,0
1825,TRILIVE,"115 Tampines Road, 533901",2018,RH Tampines Pte Ltd,D19,222.0,Condominium,Freehold,2018,0
1826,LANGSTON VILLE,"15 Kim Yam Road, 239328",2000,Guan Qian Realty,D9,54.0,Apartment,999,2018,0
1827,ROBERTSON EDGE,"18 Tong Watt Road, 238010",2008,CSA Venture Pte Ltd,D9,70.0,Apartment,999,2018,0
1828,WATERFORD RESIDENCE,"21 Kim Yam Road, 239332",2010,Hoi Hup Realty Pte Ltd,D9,118.0,Apartment,999,2018,0
1829,ATTITUDE AT KIM YAM,"1 Kim Yam Road, 239319",2011,King & King Development Pte Ltd,D9,33.0,Apartment,999,2018,0
1830,VIVACE,"19 Tong Watt Road, 238011",2012,Heritage @ Tong Watt Pte Ltd,D9,85.0,Apartment,999,2018,0
1831,RV POINT,"233 River Valley Road, 238291",2015,Galaxy Land Pte Ltd,D9,36.0,Apartment,999,2018,0
1832,ASPEN LINQ,"15 Institution Hill, 239669",2016,Optimus Hill Pte Ltd,D9,18.0,Apartment,999,2018,0
1833,ASPEN HEIGHTS,"261 River Valley Road, 238307",1998,DBS Realty Pte Ltd,D9,606.0,Condominium,999,2018,0
1834,THE WHARF RESIDENCE,"7 Tong Watt Road, 238002",2012,Leonie Court Pte Ltd,D9,186.0,Condominium,999,2018,0

In [83]:
data[data['tenure'] == 'LEASEHOLD/99']

,project_name,address,TOP,developer,district,units,property_type,tenure,contract_year,enbloc
32,CAVENAGH LODGE,81 Cavenagh Road,1996,N.A.,D9,87.0,Apartment,LEASEHOLD/99,2018,0
142,HIGH STREET CENTRE,1 North Bridge Road,1969,N.A.,D6,87.0,Condominium,LEASEHOLD/99,2018,0
365,AVANT RESIDENCES,10 Aljunied Road,2012,N.A.,D14,50.0,Condominium,LEASEHOLD/99,2018,0

In [84]:
data['tenure'].apply(lambda x: x.replace('LEASEHOLD/99', '99')).unique()

array(['110', '999', '99', '9999', '929', '947', '946', '956', '60',
       'freehold', '101', '100', '103', '99-year', 'N.A', 'Mixed',
       'FREEHOLD', 'Freehold'], dtype=object)

In [85]:
data['tenure'].apply(lambda x: x.replace('Freehold', 'FREEHOLD')).unique()

array(['110', '999', '99', '9999', 'LEASEHOLD/99', '929', '947', '946',
       '956', '60', 'freehold', '101', '100', '103', '99-year', 'N.A',
       'Mixed', 'FREEHOLD'], dtype=object)

In [86]:
data['age'] = data['contract_year'] - data['TOP']

In [95]:
data=pd.get_dummies(data, columns=['district','property_type'])

In [91]:
data=data.drop(columns ='address')

In [ ]:
data['tenure'].apply(lambda x: