In [1]:
import pandas as pd

In [2]:
sql = (
    '''
    WITH
      enbloc_list AS (
      SELECT
        project_name,
        EXTRACT(YEAR FROM contract_date) AS contract_year,
        1 AS enbloc
      FROM
        `drq-machine-learning.enbloc.enbloc`),
      property AS (
      SELECT
        UPPER(property_name) AS project_name,
        * EXCEPT(property_name)
      FROM
        `drq-machine-learning.enbloc.property_list` )
    SELECT
      property.*,
      enbloc_list.contract_year,
      enbloc_list.enbloc
    FROM
      property
    LEFT JOIN
      enbloc_list
    ON
      property.project_name = enbloc_list.project_name
    '''
)

In [3]:
data = pd.read_gbq(
    sql,
    project_id='413980110872',
    private_key='../../drq-machine-learning-0a5d30a93870.json',
    dialect='standard',
    verbose=True
)

In [4]:
data.to_csv('../data/enbloc_property.csv', index=False)

In [5]:
data = data[pd.notnull(data['TOP'])]

In [6]:
data['units'] = data['units'].fillna(data['units'].median())

In [7]:
data = data[pd.notnull(data['tenure'])]

In [8]:
data['enbloc'] = data['enbloc'].fillna(0)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2040 entries, 10 to 2143
Data columns (total 10 columns):
project_name     2040 non-null object
address          2040 non-null object
TOP              2040 non-null object
developer        1776 non-null object
district         2040 non-null object
units            2040 non-null float64
property_type    2040 non-null object
tenure           2040 non-null object
contract_year    281 non-null object
enbloc           2040 non-null int64
dtypes: float64(1), int64(1), object(8)
memory usage: 175.3+ KB

In [10]:
data['contract_year'] = data['contract_year'].fillna(2018)

In [11]:
data

,project_name,address,TOP,developer,district,units,property_type,tenure,contract_year,enbloc
10,PARKSUITES,"28 Holland Grove Road, 278805",1900,N.A.,"D10 - Bukit Timah, Holland Rd, Tanglin",71.0,Apartment,110 years from 01/11/2017,2018,0
11,TEACHERS' HOUSING ESTATE,"1 Tu Fu Avenue, 787209",1968,N.A.,"D26 - Upper Thomson, Springleaf",71.0,Apartment,999 Years,2018,0
12,LAKESIDE APARTMENTS,"9E Yuan Ching Road, 618647",1970,N.A.,D22 - Jurong,71.0,Apartment,99 years from 01/03/1977,2018,0
13,PEOPLE'S PARK COMPLEX,"1 Park Road, 059108",1972,N.A.,"D1 - Temasek Blvd, Raffles Link",71.0,Apartment,99 years from 25/03/1968,2018,0
14,GOLDEN MILE COMPLEX,"5001 Beach Road, 199588",1974,N.A.,"D7 - Middle Road, Golden Mile",71.0,Apartment,99 years from 04/08/1969,2018,0
15,INTERNATIONAL PLAZA,"10 Anson Road, 079903",1976,International Associated Co Pte Ltd,"D2 - Anson, Tanjong Pagar",71.0,Apartment,99 years from 02/06/1970,2018,0
16,FOOK HAI BUILDING,"150 South Bridge Road, 058727",1976,N.A.,"D1 - Temasek Blvd, Raffles Link",71.0,Apartment,99 years from 18/01/1972,2018,0
17,PEOPLE'S PARK CENTRE,"101 Upper Cross Street, 058357",1976,N.A.,"D1 - Temasek Blvd, Raffles Link",71.0,Apartment,99 years from 02/06/1970,2018,0
18,TEXTILE CENTRE,"200 Jalan Sultan, 199018",1977,N.A.,"D7 - Middle Road, Golden Mile",71.0,Apartment,99 years from 02/06/1970,2018,0
19,PEACE CENTRE/MANSIONS,"1 Sophia Road, 228149",1977,KIAN AN REALTY LTD,"D9 - Orchard, Cairnhill, River Valley",42.0,Apartment,99 years from 02/06/1970,2018,0
20,THE PLAZA,"7500 Beach Road, 199590",1979,N.A.,"D7 - Middle Road, Golden Mile",71.0,Apartment,99 years from 03/09/1968,2018,0
21,PHOENIX HEIGHTS,"5 Phoenix Walk, 668109",1980,N.A.,"D23 - Bukit Panjang, Choa Chu Kang",71.0,Apartment,99 years from 01/01/1969,2018,0
22,SHERWOOD TOWERS,"3 Jalan Anak Bukit, 588998",1980,Ocean & Capital Properties Pte Limited,"D21 - Upper Bukit Timah, Ulu Pandan",269.0,Apartment,99 years from 30/08/1976,2018,0
23,LAKESIDE TOWER,"9G Yuan Ching Road, 618649",1981,N.A.,D22 - Jurong,71.0,Apartment,99 years from 01/11/1975,2018,0
24,BEAUTY WORLD PLAZA,"140 Upper Bukit Timah Road, 588176",1982,N.A.,"D21 - Upper Bukit Timah, Ulu Pandan",71.0,Apartment,999 years from 07/06/1884,2018,0
25,BEAUTY WORLD CENTRE,"144 Upper Bukit Timah Road, 588177",1984,N.A.,"D21 - Upper Bukit Timah, Ulu Pandan",80.0,Apartment,99 years from 18/09/1979,2018,0
26,LANDMARK TOWER,"173 Chin Swee Road, 169878",1985,Garden Landmark Pte Ltd (Far East),"D3 - Queenstown, Tiong Bahru",139.0,Apartment,99 years from 16/06/1980,2018,0
27,RIVERWALK APARTMENTS,"20 Upper Circular Road, 058416",1985,Premier Realty Pte Ltd,"D1 - Temasek Blvd, Raffles Link",94.0,Apartment,99 years from 15/12/1980,2018,0
28,THE 101,"74 Ocean Drive, 098313",1986,N.A.,"D4 - Telok Blangah, Harbourfront",71.0,Apartment,999 years from 25/01/1827,2018,0
30,ROXY SQUARE,"50 East Coast Road, 428769",1991,ROXY PACIFIC DEVELOPMENTS PTE LTD,"D15 - Katong, Joo Chiat, Amber Road",111.0,Apartment,9999 years from 02/06/1995,2018,0
31,JANSEN ROAD,"7 JANSEN ROAD, 548389",1992,N.A.,"D19 - Serangoon, Hougang, Punggol",71.0,Apartment,999 Years,2018,0
32,LE LOYANG,"43 Jalan Loyang Besar, 509371",1994,Tai Chuan Development Pte Ltd,"D17 - Loyang, Changi",24.0,Apartment,999 years from 29/05/1885,2018,0
33,ST FRANCIS COURT,"90 St. Francis Road, 328071",1994,Delight Development Pte Ltd,"D12 - Balestier, Toa Payoh, Serangoon",71.0,Apartment,99 years from 08/09/1992,2018,0
34,EAST BAY GARDENS,"87 Lorong G Telok Kurau, 426277",1995,N.A.,"D15 - Katong, Joo Chiat, Amber Road",71.0,Apartment,99 years from 01/01/1995,2018,0
35,HARVEST MANSIONS,"550 Havelock Road, 169638",1996,Springleaf Investment Pte Ltd,"D3 - Queenstown, Tiong Bahru",66.0,Apartment,99 years from 17/11/1993,2018,0
36,THE RIVERSIDE PIAZZA,"11 Keng Cheow Street, 059608",1996,Kingston Development Pte Ltd,"D1 - Temasek Blvd, Raffles Link",40.0,Apartment,99 years from 02/10/1992,2018,0
37,CAVENAGH LODGE,81 Cavenagh Road,1996,N.A.,"D9 - Orchard, Cairnhill, River Valley",71.0,Apartment,LEASEHOLD/99 years,2018,0
38,UE SQUARE,"205 River Valley Road, 238274",1997,United Engineering Ltd,"D9 - Orchard, Cairnhill, River Valley",345.0,Apartment,929 years from 01/01/1953,2018,0
39,ASTON MANSIONS,"3 Lorong 42 Geylang, 398026",1998,South London Properties Pte Ltd (Far East),"D14 - Geylang, Eunos",159.0,Apartment,99 years from 13/02/1995,2018,0
40,EASTWOOD CENTRE,"20 Eastwood Road, 486442",1998,Ho Bee (Eastwood Park) Pte Ltd,"D16 - Bedok, Upper East Coast",48.0,Apartment,99 years from 06/11/1995,2018,0
...,...,...,...,...,...,...,...,...,...,...
2114,ROBIN RESIDENCES,"1 Robin Drive, 258261",2015,Sing Holdings (Robin) Pte Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",134.0,Condominium,Freehold,2018,0
2115,THE NASSIM,"18 Nassim Hill, 258485",2015,N.A.,"D10 - Bukit Timah, Holland Rd, Tanglin",71.0,Condominium,Freehold,2018,0
2116,TROPIKA EAST,"3 Foo Kim Lin Road, 419679",2016,Feature (East) Development Pte Ltd,"D14 - Geylang, Eunos",105.0,Condominium,Freehold,2018,0
2117,VILLAGE @ PASIR PANJANG,"423 Pasir Panjang Road, 118764",2016,Champsworth Development Pte Ltd,"D5 - Pasir Panjang, Clementi",148.0,Condominium,Freehold,2018,0
2118,THE TEMBUSU,"107D Tampines Road, 534006",2016,Winsmart Investment Pte Ltd,"D19 - Serangoon, Hougang, Punggol",337.0,Condominium,Freehold,2018,0
2119,MARINE BLUE,"81 MARINE PARADE ROAD, 449309",2016,Ladyhill (Private) Limited,"D15 - Katong, Joo Chiat, Amber Road",124.0,Condominium,Freehold,2018,0
2120,THE LINE @ TANJONG RHU,"6 Tanjong Rhu Road, 436883",2016,Lakeview Investments Pte Ltd,"D15 - Katong, Joo Chiat, Amber Road",130.0,Condominium,Freehold,2018,0
2121,SEVENTY SAINT PATRICK'S,"70 St. Patricks Road, 424175",2016,UOL Development (St Patrick) Pte Ltd,"D15 - Katong, Joo Chiat, Amber Road",186.0,Condominium,Freehold,2018,0
2122,FULCRUM,"33 Fort Road, 439092",2016,CEL-Fort Pte Ltd,"D15 - Katong, Joo Chiat, Amber Road",128.0,Condominium,Freehold,2018,0
2123,26 NEWTON,"26 Newton Road, 307957",2016,Novelty Corp Pte Ltd,"D11 - Watten Estate, Novena, Thomson",180.0,Condominium,Freehold,2018,0
2124,CLUNY PARK RESIDENCE,"99 Cluny Park Road, 257496",2016,Shelford Properties Pte Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",52.0,Condominium,Freehold,2018,0
2125,GRAMERCY PARK,"57 Grange Road, 249569",2016,Aston Properties Pte Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",174.0,Condominium,Freehold,2018,0
2126,THE CREEK @ BUKIT,"17 Toh Tuck Road, 596155",2017,Chiu Teng @ Bukit Timah Pte. Ltd.,"D21 - Upper Bukit Timah, Ulu Pandan",260.0,Condominium,Freehold,2018,0
2127,6 DERBYSHIRE,"6 Derbyshire Road, 309462",2017,Fantasia (Novena) Pte Ltd,"D11 - Watten Estate, Novena, Thomson",168.0,Condominium,Freehold,2018,0
2128,NEW FUTURA,"14 Leonie Hill Road, 239193",2017,City Developments Limited,"D9 - Orchard, Cairnhill, River Valley",124.0,Condominium,Freehold,2018,0
2129,TRILIVE,"115 Tampines Road, 533901",2018,RH Tampines Pte Ltd,"D19 - Serangoon, Hougang, Punggol",222.0,Condominium,Freehold,2018,0
2130,GRACIOUS MANSIONS,"23 Jalan Rendang, 428354",1984,N.A.,"D15 - Katong, Joo Chiat, Amber Road",16.0,Apartment,Freehold,2005,1
2131,BALMEG COURT,"6 Balmeg Hill, 119906",1983,Goodland Pte Ltd,"D5 - Pasir Panjang, Clementi",65.0,Condominium,Freehold,2005,1
2132,DERBYSHIRE MANSIONS,"21 Derbyshire Road, 309467",1980,N.A.,"D11 - Watten Estate, Novena, Thomson",74.0,Apartment,Freehold,2006,1
2133,BELLERIVE,"9 Keng Chin Road, 258711",2011,Sing Holdings (Bellerive) Pte Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",51.0,Apartment,Freehold,2006,1
2134,WATERFALL GARDENS,"8 Farrer Road, 268820",2010,Acecharm Pte Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",132.0,Condominium,Freehold,2006,1
2135,THE ORANGE GROVE,"37 Stevens Road, 257844",2010,Ho Bee Developments Pte Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",72.0,Condominium,Freehold,2006,1
2136,DYNASTY GARDEN,"275 Sixth Avenue, 276564",1979,International Associates Co. Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",51.0,Condominium,Freehold,2007,1
2137,FLAMINGO VALLEY,"478 Siglap Road, 454852",2014,FCL Estates Pte Ltd,"D15 - Katong, Joo Chiat, Amber Road",393.0,Condominium,Freehold,2007,1
2138,ONE BALMORAL,"1 Balmoral Road, 259784",2016,Hong Leong Holdings Ltd,"D10 - Bukit Timah, Holland Rd, Tanglin",71.0,Condominium,Freehold,2007,1
2139,PASTORAL VIEW,"7 Bassein Road, 309837",1986,Vihin Realty Pte Ltd,"D11 - Watten Estate, Novena, Thomson",50.0,Apartment,Freehold,2010,1
2140,PARKWAY VIEW,"39 MARINE PARADE ROAD, 449265",1992,Marabel Investments Pte Ltd,"D15 - Katong, Joo Chiat, Amber Road",26.0,Apartment,Freehold,2011,1
2141,WHITLEY HEIGHTS,"107 Whitley Road, 297807",1987,Whitley Housing Pte Ltd,"D11 - Watten Estate, Novena, Thomson",42.0,Condominium,Freehold,2011,1
2142,CHANGI GARDEN,"961 Upper Changi Road North, 507663",1980,N.A.,"D17 - Loyang, Changi",71.0,Apartment,Freehold,2017,1
2143,CHANGI GARDEN,"961 Upper Changi Road North, 507663",1980,MR LEE HUI CHOON,"D17 - Loyang, Changi",60.0,Condominium,Freehold,2017,1

In [12]:
data['tenure'].unique()

array(['110 years from 01/11/2017', '999 Years',
       '99 years from 01/03/1977', '99 years from 25/03/1968',
       '99 years from 04/08/1969', '99 years from 02/06/1970',
       '99 years from 18/01/1972', '99 years from 03/09/1968',
       '99 years from 01/01/1969', '99 years from 30/08/1976',
       '99 years from 01/11/1975', '999 years from 07/06/1884',
       '99 years from 18/09/1979', '99 years from 16/06/1980',
       '99 years from 15/12/1980', '999 years from 25/01/1827',
       '9999 years from 02/06/1995', '999 years from 29/05/1885',
       '99 years from 08/09/1992', '99 years from 01/01/1995',
       '99 years from 17/11/1993', '99 years from 02/10/1992',
       'LEASEHOLD/99 years', '929 years from 01/01/1953',
       '99 years from 13/02/1995', '99 years from 06/11/1995',
       '99 years from 06/09/1996', '99 years from 10/06/1996',
       '99 years from 01/12/1994', '99 years from 01/05/1994',
       '999 years from 12/10/1885', '99 years from 01/03/1995',
       '99 years from 03/02/1994', '947 years from 15/05/1937',
       '99 years from 24/06/1995', '99 years from 24/04/1996',
       '99 years from 01/10/1995', '999 years from 01/09/1876',
       '99 years from 26/06/1996', '99 years from 22/05/1997',
       '999 years from 01/07/1841', '99 years from 19/03/1997',
       '999 years from 02/12/1878', '99 years from 11/08/1997',
       '99 Years from 06/12/1997', '99 years from 30/04/2000',
       '99 years from 06/02/2001', '99 years from 06/10/2000',
       '999 years from 01/01/1886', '999 years from 21/06/1877',
       '999 years from 26/03/1885', '99 years from 02/06/1969',
       '999 years from 02/06/1882', '99 years from 12/08/2002',
       '999 years from 02/10/1876', '99 years from 07/01/2002',
       '946 years from 23/06/1938', '99 years from 08/05/2001',
       '99 years from 29/01/2002', '946 years from 27/11/1937',
       '99 years from 05/03/2004', '99 years from 03/01/2006',
       '999 years from 24/11/1995', '99 Years from 21/06/2006',
       '999 years from 01/06/1885', '99 years from 15/09/2005',
       '99 years from 11/07/2006', '99 years from 08/03/2006',
       '946 years from 01/01/1938', '99 years from 21/03/2006',
       '99 years from 27/01/2006', '99 years from 13/03/2006',
       '99 years from 15/10/2007', '99 years from 02/02/2005',
       '99 years from 28/04/2004', '99 years from 14/10/2005',
       '99 years from 10/08/2010', '99 years from 06/05/2008',
       '999 years from 19/02/1883', '9999 years from 01/01/1957',
       '99 years from 07/12/2009', '99 years from 06/01/2010', 'N.A',
       '99 years from 12/04/2007', '99 years from 06/02/2008',
       '99 years from 13/09/2010', '99 years from 13/03/2008',
       '999 years from 27/12/1875', '99 years from 24/05/2010',
       '999 Years from 02/06/1882', '99 years from 27/06/2007',
       '99 years from 30/04/2013', '99 years from 21/11/2011',
       '99 years from 29/06/2011', '99 years from 07/06/2011',
       '99 years from 07/11/2012', '956 years from 27/05/1928',
       '99 years from 24/01/2013', '99 years from 01/08/2011',
       '60 years from 19/02/2013', 'freehold', '99 years from 01/12/1975',
       '99 years from 25/03/1981', '999 years from 06/07/1885',
       '99 years from 01/10/1983', '999 Years from 25/09/1882',
       '999 Years from 23/03/1885', '99 years from 17/08/1979',
       '101 years from 01/12/1985', '99 years from 21/10/1981',
       '99 years from 01/11/1984', '99 years from 01/08/1980',
       '99 years from 20/08/1982', '99 years from 08/03/1982',
       '99 years from 08/01/1979', '99 years from 10/04/1982',
       '99 years from 06/06/1980', '99 years from 08/07/1983',
       '99 years from 10/11/1981', '999 years',
       '99 Years from 08/03/1982', '99 years from 07/04/1975',
       '99 years from 05/04/1982', '999 years from 01/04/1878',
       '999 years from 05/05/1886', '999 years from 25/09/1882',
       '100 years from 01/02/1986', '999 years from 07/09/1885',
       '99 years from 01/09/1991', '99 years from 01/03/1991',
       '999 years from 10/08/1878', '99 years from 15/09/1990',
       '99 Years from 01/12/1991', '99 Years from 01/09/1991',
       '99 Years from 01/03/1991', '99 Years from 23/07/1991',
       '99 years from 01/06/1990', '99 years from 01/05/1993',
       '99 years from 01/07/1992', '99 years from 18/11/1991',
       '99 Years from 01/09/1992', '99 years from 31/05/1993',
       '99 years from 20/10/1993', '99 years from 01/12/1991',
       '99 years from 01/12/1993', '99 years from 21/04/1994',
       '99 years from 09/03/1994', '99 Years from 30/05/1994',
       '99 years from 01/08/1994', '99 YEARS',
       '999 Years from 21/06/1877', '99 years from 20/06/1995',
       '99 years from 23/06/1995', '99 Years from 13/02/1995',
       '999 years from 19/05/1883', '999 years from 15/08/1884',
       '99 years from 01/11/1995', '99 years from 17/05/1997',
       '99 Years from 24/04/1996', '99 years from 31/01/1997',
       '99 years from 14/11/1996', '99 years from 07/11/1995',
       '99 years from 12/06/1996', '99 Years from 12/06/1996',
       '999 years from 01/10/1827', '99 years from 03/03/1997',
       '99 years from 17/03/1997', '99 Years from 07/11/1995',
       '99 Years from 22/09/1997', '99 years from 16/12/1997',
       '99 Years from 04/12/1996', '99 Years from 12/08/1997',
       '99 Years from 09/10/1996', '99 years from 04/12/1996',
       '99 Years from 12/08/1996', '99 Years from 18/12/1997',
       '99 Years from 17/05/1997', '99 years from 12/08/1996',
       '99 years from 01/12/1997', '99 years from 07/06/1996',
       '99 years from 11/03/1999', '99 years from 18/07/1997',
       '99 years from 25/02/1998', '99 years from 16/02/1998',
       '99 years from 06/12/1997', '99 Years from 18/07/1997',
       '99 years from 02/02/1998', '99 years from 14/12/1996',
       '99 years from 21/03/1996', '99 Years from 16/02/1998',
       '99 years from 02/03/1998', '99 years from 20/03/1998',
       '99 years from 24/04/1999', '99 years from 12/09/2000',
       '99 years from 13/12/2000', '99 Years from 12/09/2000',
       '99 years from 05/05/1997', '99 years from 10/02/2000',
       '99 Years from 09/10/2000', '99 years from 14/08/2000',
       '99 years from 08/04/1993', '99 years from 02/05/2001',
       '99 Years from 22/03/1997', '99 Years from 29/11/2000',
       '99 Years from 20/06/2000', '99 years from 16/08/1999',
       '99 years from 17/08/2001', '99 years from 02/01/2001',
       '99 years from 02/10/2001', '99 years from 21/06/2001',
       '99 years from 04/06/2001', '99 years from 25/07/2001',
       '99 years from 24/10/1997', '99 years from 05/06/2001',
       '99 years from 29/10/2001', '99 years from 02/04/1998',
       '99 Years from 02/10/2001', '99 Years from 16/07/2002',
       '99 years from 23/07/2002', '99 years from 21/01/2002',
       '99 Years from 14/08/2000', '999 years from 21/02/1885',
       '99 years from 03/12/2002', '99 years from 20/06/2000',
       '999 years from 17/09/1885', '99 years from 20/06/2003',
       '99 years from 19/03/2001', '99 years from 18/03/2004',
       '99 years from 20/01/2004', '99 years from 22/01/2003',
       '99 years from 09/09/1999', '99 Years from 22/11/2002',
       '99 Years from 05/01/2004', '99 years from 02/07/2004',
       '99 years from 08/11/2001', '103 years from 28/11/2002',
       '99 years from 13/09/2004', '99 years from 03/05/2004',
       '99 Years from 03/01/2005', '99 years from 26/02/2004',
       '99 years from 01/03/2003', '99 years from 17/02/2006',
       '99 Years from 18/04/2005', '99 years from 11/09/2007',
       '99 years from 07/02/2006', '99 years from 12/03/2007',
       '99 years from 10/08/2005', '99 years from 25/02/2008',
       '99 years from 10/09/2007', '99 years from 07/01/2008',
       '99 years from 17/03/2008', '99 years from 31/10/2007',
       '99 years from 15/03/2006', '99 years from 31/10/2006',
       '99 years from 09/06/2007', '99 years from 03/01/2007',
       '99 years from 31/12/2007', '99 years from 23/10/2006',
       '99 years from 15/07/2008', '99 years from 08/04/2008',
       '99 years from 07/04/2008', '99 years from 22/09/2008',
       '99 years from 09/12/2008', '99 years from 25/08/2008',
       '99 years from 10/03/2008', '99-year Leasehold',
       '99 years from 25/06/2008', '99 years from 08/09/2010',
       '99 years from 26/03/2008', '99 years from 08/03/2007',
       '99 years from 11/02/2009', '99 years from 02/06/2010',
       '99 years from 14/09/2010', '99 years from 27/07/2007',
       '99 years from 23/11/2009', '999 years from 19/06/1885',
       '99 years from 03/08/2010', '99 years from 21/12/2009',
       '99 years from 07/09/2011', '99 years from 20/09/2010',
       '99 years from 30/11/2010', '99 years from 14/06/2010',
       '99 years from 11/12/2007', '99 years from 03/01/2011',
       '99 years from 24/01/2011', '99 years from 16/06/2010',
       '99 years from 10/01/2012', '99 years from 11/08/2010',
       '99 years from 26/11/2009', '99 years from 20/12/2010',
       '99 years from 27/12/2010', '99 years from 04/11/2011',
       '99 years from 23/08/2010', '99 years from 24/08/2010',
       '99 years from 02/03/2011', '99 years from 10/01/2011',
       '103 years from 18/08/2009', '99 years from 20/07/2007',
       '99 years from 08/04/2010', '99 Years Leasehold',
       '99 years from 10/05/2010', '99 years from 06/12/2010',
       '99 years from 25/01/2012', '99 years from 28/07/2010',
       '99 years from 07/02/2011', '99 years from 29/08/2011',
       '99 years from 30/01/2012', '99 years from 08/02/2010',
       '99 years from 20/10/2010', '99 years from 10/08/2011',
       '99 years from 09/01/2012', '99 years from 01/06/2011',
       '99 years from 06/02/2012', '99 years from 04/06/2012',
       '99 years from 05/10/2011', '99 years from 26/08/2011',
       '99 years from 15/06/2011', '99 years from 09/02/2011',
       '99 years from 24/04/2012', '99 years from 09/03/2011',
       '99 years from 28/06/2011', '99 years from 28/08/2012',
       '99 years from 13/02/2013', '99 years from 03/07/2012',
       '99 years from 25/05/2012', '99 years from 21/08/2012',
       '99 years from 13/08/2012', '99 years from 06/03/2012',
       '99 years from 05/11/2012', '99 years from 19/03/2012',
       '99 years from 02/07/2012', '99 years from 05/12/2011',
       '99 years from 03/10/2011', '103 years from 01/10/2010',
       '99 years from 14/05/2012', 'F', 'L99', 'L999', 'Mixed',
       '99 Years', 'FREEHOLD', 'Freehold'], dtype=object)

In [13]:
data['tenure'] = data['tenure'].apply(lambda x: x.split(' ')[0])

In [14]:
data['district'] = data['district'].apply(lambda x: x.split('-')[0])

In [15]:
data[data['tenure'] == 'LEASEHOLD/99']

,project_name,address,TOP,developer,district,units,property_type,tenure,contract_year,enbloc
37,CAVENAGH LODGE,81 Cavenagh Road,1996,N.A.,D9,71.0,Apartment,LEASEHOLD/99,2018,0
157,HIGH STREET CENTRE,1 North Bridge Road,1969,N.A.,D6,71.0,Condominium,LEASEHOLD/99,2018,0
381,AVANT RESIDENCES,10 Aljunied Road,2012,N.A.,D14,50.0,Condominium,LEASEHOLD/99,2018,0

In [16]:
data['tenure']=data['tenure'].apply(lambda x: x.upper())

In [17]:
data['tenure']=data['tenure'].apply(lambda x: x.replace('99-YEAR', '99'))

In [18]:
data['age'] = data['contract_year'] - data['TOP']

In [19]:
data=pd.get_dummies(data, columns=['district','property_type'])

In [20]:
data=data.drop(columns ='address')

In [21]:
data=data.drop(columns ='developer')

In [22]:
data

,project_name,TOP,units,tenure,contract_year,enbloc,age,district_D02,district_D03,district_D04,...,district_D6,district_D7,district_D8,district_D9,property_type_Apartment,property_type_Condominium,property_type_Corner Terrace,property_type_Detached House,property_type_HDB Apartment,property_type_Terraced House
10,PARKSUITES,1900,71.0,110,2018,0,118,0,0,0,...,0,0,0,0,1,0,0,0,0,0
11,TEACHERS' HOUSING ESTATE,1968,71.0,999,2018,0,50,0,0,0,...,0,0,0,0,1,0,0,0,0,0
12,LAKESIDE APARTMENTS,1970,71.0,99,2018,0,48,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13,PEOPLE'S PARK COMPLEX,1972,71.0,99,2018,0,46,0,0,0,...,0,0,0,0,1,0,0,0,0,0
14,GOLDEN MILE COMPLEX,1974,71.0,99,2018,0,44,0,0,0,...,0,1,0,0,1,0,0,0,0,0
15,INTERNATIONAL PLAZA,1976,71.0,99,2018,0,42,0,0,0,...,0,0,0,0,1,0,0,0,0,0
16,FOOK HAI BUILDING,1976,71.0,99,2018,0,42,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17,PEOPLE'S PARK CENTRE,1976,71.0,99,2018,0,42,0,0,0,...,0,0,0,0,1,0,0,0,0,0
18,TEXTILE CENTRE,1977,71.0,99,2018,0,41,0,0,0,...,0,1,0,0,1,0,0,0,0,0
19,PEACE CENTRE/MANSIONS,1977,42.0,99,2018,0,41,0,0,0,...,0,0,0,1,1,0,0,0,0,0
20,THE PLAZA,1979,71.0,99,2018,0,39,0,0,0,...,0,1,0,0,1,0,0,0,0,0
21,PHOENIX HEIGHTS,1980,71.0,99,2018,0,38,0,0,0,...,0,0,0,0,1,0,0,0,0,0
22,SHERWOOD TOWERS,1980,269.0,99,2018,0,38,0,0,0,...,0,0,0,0,1,0,0,0,0,0
23,LAKESIDE TOWER,1981,71.0,99,2018,0,37,0,0,0,...,0,0,0,0,1,0,0,0,0,0
24,BEAUTY WORLD PLAZA,1982,71.0,999,2018,0,36,0,0,0,...,0,0,0,0,1,0,0,0,0,0
25,BEAUTY WORLD CENTRE,1984,80.0,99,2018,0,34,0,0,0,...,0,0,0,0,1,0,0,0,0,0
26,LANDMARK TOWER,1985,139.0,99,2018,0,33,0,0,0,...,0,0,0,0,1,0,0,0,0,0
27,RIVERWALK APARTMENTS,1985,94.0,99,2018,0,33,0,0,0,...,0,0,0,0,1,0,0,0,0,0
28,THE 101,1986,71.0,999,2018,0,32,0,0,0,...,0,0,0,0,1,0,0,0,0,0
30,ROXY SQUARE,1991,111.0,9999,2018,0,27,0,0,0,...,0,0,0,0,1,0,0,0,0,0
31,JANSEN ROAD,1992,71.0,999,2018,0,26,0,0,0,...,0,0,0,0,1,0,0,0,0,0
32,LE LOYANG,1994,24.0,999,2018,0,24,0,0,0,...,0,0,0,0,1,0,0,0,0,0
33,ST FRANCIS COURT,1994,71.0,99,2018,0,24,0,0,0,...,0,0,0,0,1,0,0,0,0,0
34,EAST BAY GARDENS,1995,71.0,99,2018,0,23,0,0,0,...,0,0,0,0,1,0,0,0,0,0
35,HARVEST MANSIONS,1996,66.0,99,2018,0,22,0,0,0,...,0,0,0,0,1,0,0,0,0,0
36,THE RIVERSIDE PIAZZA,1996,40.0,99,2018,0,22,0,0,0,...,0,0,0,0,1,0,0,0,0,0
37,CAVENAGH LODGE,1996,71.0,LEASEHOLD/99,2018,0,22,0,0,0,...,0,0,0,1,1,0,0,0,0,0
38,UE SQUARE,1997,345.0,929,2018,0,21,0,0,0,...,0,0,0,1,1,0,0,0,0,0
39,ASTON MANSIONS,1998,159.0,99,2018,0,20,0,0,0,...,0,0,0,0,1,0,0,0,0,0
40,EASTWOOD CENTRE,1998,48.0,99,2018,0,20,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2114,ROBIN RESIDENCES,2015,134.0,FREEHOLD,2018,0,3,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2115,THE NASSIM,2015,71.0,FREEHOLD,2018,0,3,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2116,TROPIKA EAST,2016,105.0,FREEHOLD,2018,0,2,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2117,VILLAGE @ PASIR PANJANG,2016,148.0,FREEHOLD,2018,0,2,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2118,THE TEMBUSU,2016,337.0,FREEHOLD,2018,0,2,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2119,MARINE BLUE,2016,124.0,FREEHOLD,2018,0,2,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2120,THE LINE @ TANJONG RHU,2016,130.0,FREEHOLD,2018,0,2,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2121,SEVENTY SAINT PATRICK'S,2016,186.0,FREEHOLD,2018,0,2,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2122,FULCRUM,2016,128.0,FREEHOLD,2018,0,2,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2123,26 NEWTON,2016,180.0,FREEHOLD,2018,0,2,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2124,CLUNY PARK RESIDENCE,2016,52.0,FREEHOLD,2018,0,2,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2125,GRAMERCY PARK,2016,174.0,FREEHOLD,2018,0,2,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2126,THE CREEK @ BUKIT,2017,260.0,FREEHOLD,2018,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2127,6 DERBYSHIRE,2017,168.0,FREEHOLD,2018,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2128,NEW FUTURA,2017,124.0,FREEHOLD,2018,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
2129,TRILIVE,2018,222.0,FREEHOLD,2018,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2130,GRACIOUS MANSIONS,1984,16.0,FREEHOLD,2005,1,21,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2131,BALMEG COURT,1983,65.0,FREEHOLD,2005,1,22,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2132,DERBYSHIRE MANSIONS,1980,74.0,FREEHOLD,2006,1,26,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2133,BELLERIVE,2011,51.0,FREEHOLD,2006,1,-5,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2134,WATERFALL GARDENS,2010,132.0,FREEHOLD,2006,1,-4,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2135,THE ORANGE GROVE,2010,72.0,FREEHOLD,2006,1,-4,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2136,DYNASTY GARDEN,1979,51.0,FREEHOLD,2007,1,28,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2137,FLAMINGO VALLEY,2014,393.0,FREEHOLD,2007,1,-7,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2138,ONE BALMORAL,2016,71.0,FREEHOLD,2007,1,-9,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2139,PASTORAL VIEW,1986,50.0,FREEHOLD,2010,1,24,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2140,PARKWAY VIEW,1992,26.0,FREEHOLD,2011,1,19,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2141,WHITLEY HEIGHTS,1987,42.0,FREEHOLD,2011,1,24,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2142,CHANGI GARDEN,1980,71.0,FREEHOLD,2017,1,37,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2143,CHANGI GARDEN,1980,60.0,FREEHOLD,2017,1,37,0,0,0,...,0,0,0,0,0,1,0,0,0,0